@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Quattrocento:wght@400;700&display=swap");
@import "tailwindcss";

@theme {
	--font-main: "Oswald", sans-serif;
	--font-second: "Quattrocento", sans-serif;

	--color-aqua-100: #eefff9;
	--color-aqua-200: #ddfff3;
	--color-aqua-300: #ccfeee;
	--color-aqua-400: #bbfee8;
	--color-aqua-500: #aafee2;
	--color-aqua-600: #88cbb5;
	--color-aqua-700: #669888;
	--color-aqua-800: #44665a;
}
