@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Quattrocento:wght@400;700&display=swap");
@import "tailwindcss";

@theme {
	--font-main: "Oswald", sans-serif;
	--font-second: "Quattrocento", sans-serif;

	--color-aqua-100: #eefff9;
	--color-aqua-200: #ddfff3;
	--color-aqua-300: #ccfeee;
	--color-aqua-400: #bbfee8;
	--color-aqua-500: #aafee2;
	--color-aqua-600: #88cbb5;
	--color-aqua-700: #669888;
	--color-aqua-800: #44665a;
}
/* scroll appear */
.scroll-appear {
	animation: auto linear scrollAppear both;
	animation-timeline: view();
	animation-range: entry 20px cover 120px;
}

@keyframes scrollAppear {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 0;
		transform: translateY(8vh);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
/* OLD
.scroll-appear {
	animation: scrollAppear ease forwards;
	animation-timeline: view();
	animation-range: entry 70px cover 150px;
}

@keyframes scrollAppear {
	0% {
		opacity: 0;
		transform: translateY(5vh);
	}
	30% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
} */

/* character splitting */
/* .splitting-opacity .char {
	opacity: 0.2;
	animation: splittingOpacity ease-out;
	animation-timeline: view();
	animation-range: entry 0 cover 40%;
	animation-delay: calc(var(--char-index) * 0.1s);
}
@keyframes splittingOpacity {
	from {
		opacity: 0.2;
	}
	to {
		opacity: 1;
	}
} */

.splitting-opacity .char {
	animation: splittingOpacity 2s ease-in-out forwards;

	transition: all 0.25s calc((var(--char-index) + 1) * 0.1s);
	opacity: 0.2;
}
@keyframes splittingOpacity {
	0% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}
