---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<h1 class="bg-aqua-700 flex h-screen items-center justify-center text-center text-4xl font-semibold text-white italic">A propos</h1>
	<!-- <Reviews /> -->
	<!-- <hr class="my-8 border-t border-gray-200" /> -->
</Layout>
