---
import Honoraires from "../components/Honoraires.astro";
import Parcours from "../components/Parcours.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="sticky top-0 flex h-96 bg-slate-900 bg-cover bg-center" style="background-image: url('/img/palais-4.jpg');">
		<!-- <div class="max-w-screen-3xl mx-auto my-auto w-full">
			<div class="mx-auto w-11/12 md:ml-10 md:w-fit">
			<div class="mt-16 ml-4">
					<h1 class="font-second text-aqua-500 overflow-hidden text-6xl italic"><span class="loading-appear inline-block">A PROPOS</span></h1>
					<hr class="border-aqua-500 w-64" />
				</div> 
			</div>
		</div>-->
	</div>
	<main class="relative bg-white">
		<Parcours />
		<Honoraires />
	</main>
	<!-- <Reviews /> -->
	<!-- <hr class="my-8 border-t border-gray-200" /> -->
</Layout>
