---
import Layout from '../layouts/Layout.astro';
---

<Layout title="A Propos - Florine Talon Avocat" description="Parcours de Florine Talon, avocate en droit pénal à Amiens et sur le territoire national. Droit pénal, assistance de victimes, personnes mises en cause, infractions pénales et routières.">
	<div class="sticky top-0 flex h-96 bg-slate-900 bg-cover bg-center" style="background-image: url('/img/palais-4.jpg');" aria-label="Palais de justice d'Amiens"></div>
	<main class="relative bg-white py-8">
		<section class="m-auto max-w-4xl">
			<h2 class="font-second mt-4 mb-4 w-fit px-4 text-4xl font-light tracking-tight italic md:mt-0 md:mb-12 md:text-6xl" style="background: linear-gradient(to bottom, transparent 50%, #aafee2 50%);">ME CONTACTER</h2>

			<iframe class="h-[calc(100vh-200px)] w-full md:h-90" title="Florine Talon Avocat" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4707.939345000414!2d2.2975756183570164!3d49.8892971020591!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6f0d1d4373989987%3A0x730dc085a93bc76d!2sFlorine%20TALON%20AVOCAT!5e0!3m2!1sfr!2sfr!4v1741103341557!5m2!1sfr!2sfr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			<div class="m-auto mt-12 max-w-4xl p-4">
				<div class="flex flex-row justify-center gap-4">
					<a class="bg-aqua-800 hover:bg-aqua-700 mx-auto mt-4 rounded-lg px-5 py-3 text-lg text-white transition-colors duration-200 hover:text-white" href="/contact-audience">Contact Audience</a>
					<a class="hover:bg-aqua-700 mx-auto mt-4 rounded-lg bg-zinc-800 px-5 py-3 text-lg text-white transition-colors duration-200 hover:text-white" href="/contact-aide">Contact Aide</a>
				</div>
			</div>
		</section>
	</main>
</Layout>
