---
import ContactMe from "../components/ContactMe2.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<main class="relative bg-white">
		<ContactMe />
		<!-- <Honoraires2 /> -->
	</main>
	<!-- <Reviews /> -->
	<!-- <hr class="my-8 border-t border-gray-200" /> -->
</Layout>
