---
import ContactMe2 from "../components/contactMe2.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<main class="relative bg-white">
		<div class="bg-aqua-700 top-0 flex h-96 max-h-96 bg-cover bg-center">
			<div class="max-w-screen-3xl mx-auto my-auto w-full">
				<div class="mx-auto w-full md:pl-10">
					<div class="mt-16 ml-4">
						<h1 class="font-second overflow-hidden text-6xl text-white italic"><span class="loading-appear inline-block">CONTACT</span></h1>
						<hr class="w-64 border-white" />
					</div>
				</div>
			</div>
		</div>
		<ContactMe2 />
		<!-- <Honoraires2 /> -->
	</main>
	<!-- <Reviews /> -->
	<!-- <hr class="my-8 border-t border-gray-200" /> -->
</Layout>
