---
import "splitting/dist/splitting-cells.css";
import "splitting/dist/splitting.css";
import Banner from "../components/Banner.astro";
import Domainv5 from "../components/Domainv5.astro";
import Me from "../components/Me.astro";
import ReviewsCard from "../components/ReviewsCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Me />
	<main class="relative z-10 rounded-t-xl bg-white">
		<Domainv5 />
		<Banner />
		<ReviewsCard />
		<div class="bg-aqua-700 relative z-20 h-screen">
			<p>test text</p>
		</div>
	</main>
</Layout>
