---
import "splitting/dist/splitting-cells.css";
import "splitting/dist/splitting.css";
import Banner from "../components/Banner.astro";
import ContactMe from "../components/Contact.astro";
import Domain from "../components/Domain.astro";
import Me from "../components/Me.astro";
import ReviewsCard from "../components/ReviewsCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Florine Talon Avocat - Avocate en droit pénal" description="Avocate en droit pénal à Amiens et sur le territoire national, Florine Talon défend vos intérêts. Droit pénal, assistance de victimes, personnes mises en cause, infractions pénales et routières. Défense et conseil personnalisés.">
	<Me />
	<main class="relative z-10 rounded-t-xl bg-white">
		<Domain />
		<Banner />
		<ReviewsCard />
		<ContactMe />
	</main>
</Layout>
