---
import Domainv5 from "../components/Domainv5.astro";
import Me from "../components/Me.astro";
import ReviewsCard from "../components/ReviewsCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Me />
	<main class="relative z-10 rounded-t-xl bg-white">
		<!-- <hr class="my-8 border-t border-gray-200" /> -->
		<!-- <Me2 /> -->
		<!-- <Domain />
		<hr class="my-8 border-t border-gray-200" />
		<Domainv2 />
		<hr class="my-8 border-t border-gray-200" />
		<Domainv3 />
		<hr class="my-8 border-t border-gray-200" />
		<Domainv4 />
		<hr class="my-8 border-t border-gray-200" /> -->
		<Domainv5 />
		<!-- <Reviews /> -->
		<ReviewsCard />
	</main>
</Layout>
