---
import "splitting/dist/splitting-cells.css";
import "splitting/dist/splitting.css";
import Banner from "../components/Banner.astro";
import Domain from "../components/Domain.astro";
// import Domainv5 from "../components/Domainv5.astro";
import ContactMe2 from "../components/contactMe2.astro";
import Me from "../components/Me.astro";
import ReviewsCard2 from "../components/ReviewsCard2.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<Me />
	<main class="relative z-10 rounded-t-xl bg-white">
		<Domain />
		<!-- <Domainv5 /> -->
		<Banner />
		<ReviewsCard2 />
		<!-- <div class="bg-aqua-700 relative z-20 flex h-screen items-center justify-center">
			<p class="text-white">TEST</p>
		</div> -->
		<ContactMe2 />
	</main>
</Layout>
