---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<main class="pb-16">
		<div class="bg-aqua-700 top-0 flex h-96 max-h-96 bg-cover bg-center">
			<div class="max-w-screen-3xl mx-auto my-auto w-full">
				<div class="mx-auto w-full md:pl-10">
					<div class="mt-16 ml-4">
						<h1 class="font-second overflow-hidden text-6xl text-white italic"><span class="loading-appear inline-block">MENTIONS LEGALES</span></h1>
						<hr class="w-64 border-white md:w-134" />
					</div>
				</div>
			</div>
		</div>
		<section class="mx-auto max-w-4xl px-4">
			<h2 class="my-4 font-bold md:text-xl">PUBLICATION</h2>
			<p>
				Le présent site est édité et géré par : <br />
				Maître Florine TALON - Avocat au Barreau d’Amiens<br />
				Entrepreneur individuel<br />
				12 rue Pierre l’Hermite 80000 AMIENS<br />
				Mail : contact@florinetalonavocat.fr<br />
				Tel : 06.77.45.41.90<br />
				SIRET : 844 883 199 000 29
			</p>
			<h2 class="my-4 font-bold md:text-xl">CONCEPTEUR ET REALISATEUR DU SITE</h2>
			<p>
				Le site a été conçu et réalisé par : <br />
				Jean-Baptiste DESLANDES<br />
				Mail : deslandes.jb@gmail.com<br />
				Tel : 06.24.65.11.49<br />
				SIRET: 981 920 580 000 17
			</p>

			<h2 class="my-4 font-bold md:text-xl">HEBERGEMENT</h2>
			<p>
				• Société : OVH SAS<br />
				• Siège social : 2 rue Kellermann, 59100 Roubaix, France<br />
				• Directeur de la publication : Nicolas Provendie<br />
				• Président : Nicolas Provendie<br />
				• Directeur général : Nicolas Provendie<br />
				• Capital : 10 069 020 €<br />
				• RCS : Lille<br />
				• N° TVA : FR 22 810 579 000 24
			</p>
			<h2 class="my-4 font-bold md:text-xl">CONDITIONS D’UTILISATION</h2>
			<p>Toute personne qui accède au site internet <a href="https://www.florinetalonavocat.fr" class="underline">www.florinetalonavocat.fr</a> s’engage à respecter les présentes conditions générales d’utilisation, qui pourront être complétées par des conditions particulières.Maître Florine TALON se réserve le droit de modifier et de mettre à jour à tout moment l’accès au site ainsi que les Conditions d’utilisation. Ces modifications et mises à jour s’imposent à l’utilisateur qui doit en conséquence se référer régulièrement à cette rubrique pour vérifier les conditions en vigueur.</p>
			<h2 class="my-4 font-bold md:text-xl">LIENS HYPERTEXTES & COOKIES</h2>
			<h3 class="mt-2 font-bold">1. Liens hypertexte</h3>
			<p>
				Le site internet <a href="https://www.florinetalonavocat.fr" class="underline">www.florinetalonavocat.fr</a> peut contenir un certain nombre de liens hypertextes vers d’autres sites. Maître Florine TALON ne dispose d’aucun moyen pour contrôler les sites en connexion avec son site internet et ne répond pas de la disponibilité de tels sites et sources externes, ni ne la garantit. Maître Florine TALON ne peut être tenue responsable de tout dommage, de quelque nature que ce soit, résultant du contenu de ces sites ou sources externes, et notamment des informations, produits ou services qu’ils proposent.<br />
				Si vous naviguez vers un de ces sites, veuillez noter qu’ils possèdent leur propre politique de confidentialité et que notre responsabilité s’arrête au moment où vous quittez notre site.<br />
				Les propriétaires de sites internet tiers ne peuvent mettre en place un hyperlien en direction de ce site sans l’autorisation expresse et préalable de Maître Florine TALON qui se réserve le droit d’accepter ou de refuser un hyperlien sans avoir à en justifier sa décision.
			</p>
			<h3 class="mt-2 font-bold">2. Cookies</h3>
			<p>
				L’utilisateur est informé que lors de ses visites sur le site <a href="https://www.florinetalonavocat.fr" class="underline">www.florinetalonavocat.fr</a>, un ou des cookies sont susceptibles de s’installer automatiquement sur son ordinateur par l’intermédiaire de son logiciel de navigation. Un cookie est un bloc de données qui ne permet pas d’identifier l’utilisateur, mais qui enregistre des informations relatives à la navigation de celui-ci sur le site. Il contient plusieurs données qui sont stockées sur votre ordinateur dans un simple fichier texte auquel un serveur accède pour lire et enregistrer des informations.<br />
				Le paramétrage du logiciel de navigation permet d’informer de la présence de cookie et éventuellement, de la refuser de la manière décrite à l’adresse suivante : <a href="https://www.cnil.fr" class="underline">www.cnil.fr</a>.
			</p>
			<h3 class="mt-2 font-bold">3. Les cookies tiers</h3>
			<p>Notre site peut contenir des liens vers ou depuis des sites partenaires et d’autres sites tiers. Si vous naviguez vers un de ces sites, veuillez noter qu’ils possèdent leur propre politique de confidentialité et que notre responsabilité s’arrête au moment où vous quittez notre site. Vérifiez les politiques de confidentialité avant de transmettre vos données personnelles à des sites tiers.</p>
			<h2 class="my-4 font-bold md:text-xl">RESPONSABILITÉ</h2>
			<p>L’utilisateur du site internet reconnaît avoir pris connaissance des présentes conditions d’utilisation et s’engage à les respecter.L’utilisateur reconnaît disposer de la compétence et des moyens nécessaires pour accéder et utiliser ce site internet.Il appartient à l’utilisateur de prendre toutes les mesures appropriées de façon à protéger ses propres données et/ou logiciels de contamination par d’éventuels virus circulant sur le réseau internet.</p>
			<h2 class="my-4 font-bold md:text-xl">MODIFICATION DU SITE</h2>
			<p>Maître Florine TALON s’efforce d’assurer l’exactitude et la mise à jour régulière des informations diffusées sur ce site.Maître Florine TALON se réserve le droit de corriger et modifier à tout moment le contenu du site internet sans que sa responsabilité puisse être engagée de ce fait, Maître Florine TALON pouvant apporter à tout moment des améliorations et/ou changements aux services décrits sur ce Site.</p>
			<h2 class="my-4 font-bold md:text-xl">EXONÉRATION DE RESPONSABILITÉ</h2>
			<p>Il appartient à l’utilisateur de ce site de prendre toutes les mesures appropriées de façon à protéger ses propres données et/ou logiciels de contamination par d’éventuels virus circulant sur le réseau Internet.</p>
			<h2 class="my-4 font-bold md:text-xl">DROITS DE PROPRIÉTÉ INTELLECTUELLE</h2>
			<p>Le site Web est protégé par les droits de propriété intellectuelle et est la propriété exclusive de Maître Florine TALON. La conception, le graphisme, le contenu, l’organisation de ce site sont des œuvres originales et sont l’entière propriété de Maître Florine TALON. Toute reproduction, ou démarquage, total ou partiel, fait sans le consentement de l’auteur, ou de ses ayants droit, ou de ses ayants cause est illicite. Il en est de même pour la traduction, l’adaptation, l’arrangement par quelque procédé que ce soit (Loi 57298 du 11 mars 1957).</p>
			<h2 class="my-4 font-bold md:text-xl">DONNÉES PERSONNELLES</h2>
			<p>
				Aucune donnée personnelle n’est collectée par ce site internet via les cookies sans votre consentement. Une fois votre consentement donné, il est valide au maximum 13 mois.<br />
				<!-- Le formulaire de contact envoi votre message par mail à Maître Florine TALON. Ces données personnelles permettent à Maître Florine TALON de mieux vous connaître, de répondre à vos besoins et d’optimiser ses services. Les informations recueillies sur ce formulaire sont enregistrées dans une base de donnée gérée et sécurisée par …(HEBERGEUR). Elles sont conservées pendant 3 ans. Conformément à la loi « informatique et libertés », vous pouvez exercer votre droit d’accès aux données vous concernant et les faire rectifier en nous contactant. -->
				La loi concernée : <a href="https://www.cnil.fr/fr/la-loi-informatique-et-libertes">La loi Informatique et Libertés | CNIL</a><br />
				<a href="https://www.cnil.fr/fr/saisir-la-cnil/nous-contacter" target="_blank" rel="noopener noreferrer" class="hover:text-aqua-700 underline transition-all duration-300">« nous contactant »</a>
			</p>
		</section>
	</main>
</Layout>
