---
import { Image } from "astro:assets";
---

<section class="flex pb-16">
	<!-- <div class="mt-auto mb-14 ml-10"> -->
	<div class="hidden h-96 w-full bg-cover bg-fixed bg-left md:block" style="background-image: url('/src/assets/code-penal-mob-nb.jpg');"></div>

	<Image src="/src/assets/code-penal-mob-nb.jpg" class="h-auto w-full md:hidden" alt="logo" width="44" height="44" />
	<!-- <img class="h-auto w-full md:hidden" src="/src/assets/code-penal-mob.jpg" alt="code penal" /> -->
</section>
