<section class="sticky top-0 pt-16">
	<div class="flex h-96 bg-slate-900 bg-cover bg-left" style="background-image: url('/src/assets/code-penal.jpg');">
		<!-- <div class="mt-auto mb-14 ml-10"> -->
	</div>
</section>
