---
import { Image } from "astro:assets";
---

<section class="relative flex min-h-[700px] flex-col items-center justify-center xl:h-screen xl:max-h-[810px]">
	<div class="absolute top-16 right-0 hidden aspect-[2/3] h-auto w-1/6 max-w-sm lg:block">
		<!-- <img class="h-full w-full object-cover object-top" src="/src/assets/florine-talon.jpg" alt="Florine Talon Avocate" /> -->
		<Image src="/src/assets/florine-talon.jpg" class="h-full w-full object-cover object-top" alt="Florine Talon Avocate" width="1170" height="1157" loading="eager" />
	</div>
	<div class="parcours-slide-right absolute top-16 right-0 hidden aspect-[2/3] h-auto w-1/6 bg-white lg:block"></div>
	<div class="absolute bottom-16 left-0 hidden aspect-[2/3] h-auto w-1/6 max-w-sm lg:block">
		<!-- <img class="h-full w-full object-cover object-top" src="/src/assets/florine-talon.jpg" alt="Florine Talon Avocate" /> -->
		<Image src="/src/assets/florine-talon.jpg" class="h-full w-full object-cover object-top" alt="Florine Talon Avocate" width="1170" height="1157" loading="eager" />
	</div>

	<div class="parcours-slide-left absolute bottom-16 left-0 hidden aspect-[2/3] h-auto w-1/6 bg-white lg:block"></div>
	<div class="relative w-full max-w-2xl">
		<h2 class="font-second mt-4 mb-4 w-fit px-4 text-4xl font-light tracking-tight italic md:mt-0 md:mb-12 md:text-6xl" style="background: linear-gradient(to bottom, transparent 50%, #aafee2 50%);">ME CONTACTER</h2>
		<div class="color-gray-600 flex flex-col font-light md:flex-row">
			<!-- <div class="flex-1">
				<p class="p-4 leading-7">N'hésitez pas à me contacter</p>
			</div>
			<div class="aspect-square w-full md:hidden">
				<Image src="/src/assets/florine-talon.jpg" class="h-full w-full object-cover object-top" alt="Florine Talon Avocate" width="1170" height="1157" loading="eager" />
			</div> -->
			<div class="flex-1">
				<!-- <p class="p-4 leading-7">
					<a class="underline" href="https://maps.app.goo.gl/XDgkmEffQks5sLDM7">
						Florine Talon<br />
						12 rue Pierre l'Hermite<br />
						80 000 Amiens
					</a>
				</p> -->
				<iframe class="h-96 w-full p-4" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4707.939345000414!2d2.2975756183570164!3d49.8892971020591!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6f0d1d4373989987%3A0x730dc085a93bc76d!2sFlorine%20TALON%20AVOCAT!5e0!3m2!1sfr!2sfr!4v1741103341557!5m2!1sfr!2sfr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				<p class="p-4 leading-7"><a class="underline" href="mailto:contact@florinetalonavocat.fr">contact@florinetalonavocat.fr</a></p>
				<p class="p-4 pt-0 leading-7"><a class="underline" href="tel:0677454190">06.77.45.41.90</a></p>
			</div>
		</div>
	</div>
</section>
