<section class="flex flex-col items-center py-8">
	<h3 class="font-main m-8 text-center text-4xl font-bold">Mes champs d'action</h3>
	<div class="mx-auto inline-grid max-w-screen-lg grid-cols-3 gap-4 px-4 pb-8 text-pretty">
		<div class="border-aqua-700 flex max-w-sm items-center rounded-lg border p-4 shadow-sm"><h4 class="text-lg">Garde à vue, audition libre, confrontation</h4></div>
		<div class="border-aqua-700 flex max-w-sm items-center rounded-lg border p-4 shadow-sm"><h4 class="text-lg">Tribunal de police </h4></div>
		<div class="border-aqua-700 flex max-w-sm items-center rounded-lg border p-4 shadow-sm"><h4 class="text-lg">Tribunal correctionnel (délits)</h4></div>
		<div class="border-aqua-700 flex max-w-sm items-center rounded-lg border p-4 shadow-sm"><h4 class="text-lg">Cour d'assises, Cour Criminelle Départementale (crimes)</h4></div>
		<div class="border-aqua-700 flex max-w-sm items-center rounded-lg border p-4 shadow-sm"><h4 class="text-lg">Chambre des appels correctionnels de la cour d'appel (délits et contraventions)</h4></div>
		<div class="border-aqua-700 flex max-w-sm items-center rounded-lg border p-4 shadow-sm"><h4 class="text-lg">Juge des enfants et Tribunal pour enfants</h4></div>
		<div class="border-aqua-700 flex max-w-sm items-center rounded-lg border p-4 shadow-sm"><h4 class="text-lg">Chambre spéciale des mineurs de la cour d'appel</h4></div>
		<div class="border-aqua-700 flex max-w-sm items-center rounded-lg border p-4 shadow-sm"><h4 class="text-lg">Juge d'instruction</h4></div>
		<div class="border-aqua-700 flex max-w-sm items-center rounded-lg border p-4 shadow-sm"><h4 class="text-lg">Chambre de l'instruction</h4></div>
		<div class="border-aqua-700 flex max-w-sm items-center rounded-lg border p-4 shadow-sm"><h4 class="text-lg">Commission de discipline en maison d'arrêt</h4></div>
		<div class="border-aqua-700 flex max-w-sm items-center rounded-lg border p-4 shadow-sm"><h4 class="text-lg">Commission d'indemnisation des victimes d'infractions</h4></div>
		<div class="border-aqua-700 flex max-w-sm items-center rounded-lg border p-4 shadow-sm"><h4 class="text-lg">Hospitalisations sans consentement</h4></div>
		<div class="border-aqua-700 flex max-w-sm items-center rounded-lg border p-4 shadow-sm"><h4 class="text-lg">Juge de l'application des peines</h4></div>
		<div class="border-aqua-700 flex max-w-sm items-center rounded-lg border p-4 shadow-sm"><h4 class="text-lg">Conseils et consultations juridiques en matière pénale</h4></div>
	</div>
	<div class="mx-auto mt-4 text-center">
		<p>J’interviens également en assistance éducative. Mon cabinet est situé 12 rue Pierre l’Hermite à AMIENS. J’interviens toutefois sur tout le territoire national.</p>
	</div>
</section>
