<section class="mx-auto flex max-w-screen-lg flex-col py-16">
	<!-- <h3 class="font-second mb-12 w-fit px-4 text-4xl font-light tracking-tight italic md:text-6xl" style="background: linear-gradient(to bottom, transparent 50%, #aafee2 50%);">DOMAINES D'INTERVENTION</h3> -->
	<h3 class="font-second mb-12 w-fit text-4xl font-light tracking-tight italic md:text-6xl">
		<span class="inline-block px-4" style="background: linear-gradient(to bottom, transparent 50%, #aafee2 50%);">DOMAINES</span><br />
		<span class="inline-block px-4" style="background: linear-gradient(to bottom, transparent 50%, #aafee2 50%);">D'INTERVENTION</span>
	</h3>
	<!-- <h3 class="font-main mb-2 text-center text-4xl font-semibold italic text-gray-800">DOMAINES D'INTERVENTION</h3> -->
	<!-- <p class="mx-4 mb-18 text-xl" client:load data-splitting>Exerçant en droit pénal, j'interviens tant pour la défense des intérêts d'auteurs que de victimes d'infractions pénales</p> -->
	<p class="reveal-type mx-4 mb-18 text-3xl" data-splitting>Exerçant en droit pénal, j'interviens tant pour la défense des intérêts d'auteurs que de victimes d'infractions pénales</p>

	<div class="mx-auto inline-grid max-w-screen-lg gap-4 px-4 text-pretty md:grid-cols-2">
		<div class="scroll-appear border-aqua-700 items-center rounded-lg border p-4 pb-6 shadow-sm">
			<h4 class="font-main mb-4 text-3xl font-semibold text-gray-800 italic">Droit pénal</h4>
			<h5 class="text-lg font-semibold text-gray-800 italic">En phase pré sentencielle</h5>
			<ul class="marker:text-aqua-700 ml-4 list-disc">
				<li>Devant un service d'enquête (en garde à vue, en audition libre, en confrontation)</li>
				<li>Devant les juridictions (Juge d'instruction, Chambre de l'instruction de la cour d'appel)</li>
			</ul>
			<h5 class="text-lg font-semibold text-gray-800 italic">Devant les juridictions de jugement</h5>
			<ul class="marker:text-aqua-700 ml-4 list-disc">
				<li>tribunal de police (contraventions)</li>
				<li>tribunal correctionnel (délits)</li>
				<li>Cour d'Assises / Cour criminelle Départementale (crimes)</li>
				<li>Chambre des appels correctionnels de la cour d'appel (délits et contraventions)</li>
				<li>Juge des enfants / tribunal pour enfants</li>
				<li>chambre correctionnelle de la cour d'appel (ATTENTION intitulé modifié)</li>
			</ul>
			<h5 class="text-lg font-semibold text-gray-800 italic">En phase post sentencielle</h5>
			<ul class="marker:text-aqua-700 ml-4 list-disc">
				<li>dans le cadre des recouvrement de vos indemnisations (fonds de garantie, SARVI, CIVI, assureur)</li>
				<li>devant les juridictions d'application des peines</li>
			</ul>
		</div>
		<div class="flex flex-col justify-between gap-4">
			<div class="scroll-appear border-aqua-700 items-center rounded-lg border p-4 pb-6 shadow-sm">
				<h4 class="font-main mb-4 text-3xl font-semibold text-gray-800 italic">Droit pénitentiaire</h4>
				<h5 class="text-lg font-semibold text-gray-800 italic">En Commission de Discipline au sein de l'établissement</h5>
			</div>
			<div class="scroll-appear border-aqua-700 items-center rounded-lg border p-4 pb-6 shadow-sm">
				<h4 class="font-main mb-4 text-3xl font-semibold text-gray-800 italic">Hospitalisations d'Office devant le Juge des libertés et de la détention</h4>
				<h5 class="text-lg font-semibold text-gray-800 italic">En Commission de Discipline au sein de l'établissement</h5>
			</div>
			<div class="scroll-appear border-aqua-700 items-center rounded-lg border p-4 pb-6 shadow-sm">
				<h4 class="font-main mb-4 text-3xl font-semibold text-gray-800 italic">Assistance éducative</h4>
				<h5 class="text-lg font-semibold text-gray-800 italic">Devant le Juge des enfants et la chambre spéciale des mineurs</h5>
			</div>
		</div>
	</div>
</section>
