<section class="flex flex-col items-center py-8">
	<h3 class="font-main m-8 text-center text-4xl font-bold">Mes champs d'action 4</h3>

	<div class="mx-auto inline-grid max-w-screen-lg grid-cols-3 gap-4 px-4 pb-8 text-pretty">
		<div class="border-aqua-700 max-w-sm items-center rounded-lg border p-4 shadow-sm">
			<h4 class="font-main m-8 text-center text-3xl font-bold">Droit pénal</h4>
			<h5 class="text-lg font-bold">En phase pré sentencielle</h5>
			<ul class="marker:text-aqua-700 ml-4 list-disc">
				<li>Devant un service d'enquête (en garde à vue, en audition libre, en confrontation)</li>
				<li>Devant les juridictions (Juge d'instruction, Chambre de l'instruction de la cour d'appel)</li>
			</ul>
			<h5 class="text-lg font-bold">Devant les juridictions de jugement</h5>
			<ul class="marker:text-aqua-700 ml-4 list-disc">
				<li>tribunal de police (contraventions)</li>
				<li>tribunal correctionnel (délits)</li>
				<li>Cour d'Assises / Cour criminelle Départementale (crimes)</li>
				<li>Chambre des appels correctionnels de la cour d'appel (délits et contraventions)</li>
				<li>Juge des enfants / tribunal pour enfants</li>
				<li>chambre correctionnelle de la cour d'appel (ATTENTION intitulé modifié)</li>
			</ul>
			<h5 class="text-lg font-bold">En phase post sentencielle</h5>
			<ul class="marker:text-aqua-700 ml-4 list-disc">
				<li>dans le cadre des recouvrement de vos indemnisations (fonds de garantie, SARVI, CIVI, assureur)</li>
				<li>devant les juridictions d'application des peines</li>
			</ul>
		</div>
		<div class="border-aqua-700 max-w-sm items-center rounded-lg border p-4 shadow-sm">
			<h4 class="font-main m-8 text-center text-3xl font-bold">Droit pénitentiaire</h4>
			<h5 class="text-lg font-bold">en Commission de Discipline au sein de l'établissement</h5>
		</div>
		<div class="border-aqua-700 max-w-sm items-center rounded-lg border p-4 shadow-sm">
			<h4 class="font-main m-8 text-center text-3xl font-bold">Hospitalisations d'Office devant le Juge des libertés et de la détention</h4>
			<h5 class="text-lg font-bold">en Commission de Discipline au sein de l'établissement</h5>
		</div>
		<div class="border-aqua-700 max-w-sm items-center rounded-lg border p-4 shadow-sm">
			<h4 class="font-main m-8 text-center text-3xl font-bold">Assistance éducative</h4>
			<h5 class="text-lg font-bold">devant le Juge des enfants et la chambre spéciale des mineurs</h5>
		</div>
	</div>
</section>
