<!-- 1ere section --><!-- <section class="mt-12">
	<h3 class="font-main text-aqua-700 m-8 text-center text-4xl font-bold">Mes champs d'action :</h3>
	<div class="flex items-center justify-center">
		<div class="flex-1"><img class="mx-auto" src="/src/assets/plaque.jpeg" alt="img" /></div>
		<div class="m-auto max-w-screen-lg flex-1">
			<ul class="marker:text-aqua-700 ml-4 list-disc">
				<li>Garde à vue, audition libre, confrontation</li>
				<li>Tribunal de police (contraventions)</li>
				<li>Tribunal correctionnel (délits)</li>
				<li>Cour d'assises, Cour Criminelle Départementale (crimes)</li>
				<li>Chambre des appels correctionnels de la cour d'appel (délits et contraventions)</li>
				<li>Juge des enfants et Tribunal pour enfants</li>
				<li>Chambre spéciale des mineurs de la cour d'appel</li>
				<li>Juge d'instruction</li>
				<li>Chambre de l'instruction</li>
				<li>Commission de discipline en maison d'arrêt</li>
				<li>Commission d'indemnisation des victimes d'infractions</li>
				<li>Hospitalisations sans consentement</li>
				<li>Juge de l'application des peines</li>
				<li>Conseils et consultations juridiques en matière pénale</li>
			</ul>
		</div>
	</div>
	<div class="mx-auto mt-4 text-center">
		<p>J’interviens également en assistance éducative. Mon cabinet est situé 12 rue Pierre l’Hermite à AMIENS. J’interviens toutefois sur tout le territoire national.</p>
	</div>
</section> --><!-- 2eme section -->
<section class="flex flex-col items-center py-8">
	<h3 class="font-main m-8 text-center text-4xl font-bold">Mes champs d'action</h3>
	<div class="mx-auto inline-grid max-w-screen-lg grid-cols-3 gap-4 px-4 pb-8 text-pretty">
		<div class="border-aqua-700 flex max-w-sm items-center rounded-lg border p-4 shadow-sm"><h4 class="text-lg">Garde à vue, audition libre, confrontation</h4></div>
		<div class="border-aqua-700 flex max-w-sm items-center rounded-lg border p-4 shadow-sm"><h4 class="text-lg">Tribunal de police </h4></div>
		<div class="border-aqua-700 flex max-w-sm items-center rounded-lg border p-4 shadow-sm"><h4 class="text-lg">Tribunal correctionnel (délits)</h4></div>
		<div class="border-aqua-700 flex max-w-sm items-center rounded-lg border p-4 shadow-sm"><h4 class="text-lg">Cour d'assises, Cour Criminelle Départementale (crimes)</h4></div>
		<div class="border-aqua-700 flex max-w-sm items-center rounded-lg border p-4 shadow-sm"><h4 class="text-lg">Chambre des appels correctionnels de la cour d'appel (délits et contraventions)</h4></div>
		<div class="border-aqua-700 flex max-w-sm items-center rounded-lg border p-4 shadow-sm"><h4 class="text-lg">Juge des enfants et Tribunal pour enfants</h4></div>
		<div class="border-aqua-700 flex max-w-sm items-center rounded-lg border p-4 shadow-sm"><h4 class="text-lg">Chambre spéciale des mineurs de la cour d'appel</h4></div>
		<div class="border-aqua-700 flex max-w-sm items-center rounded-lg border p-4 shadow-sm"><h4 class="text-lg">Juge d'instruction</h4></div>
		<div class="border-aqua-700 flex max-w-sm items-center rounded-lg border p-4 shadow-sm"><h4 class="text-lg">Chambre de l'instruction</h4></div>
		<div class="border-aqua-700 flex max-w-sm items-center rounded-lg border p-4 shadow-sm"><h4 class="text-lg">Commission de discipline en maison d'arrêt</h4></div>
		<div class="border-aqua-700 flex max-w-sm items-center rounded-lg border p-4 shadow-sm"><h4 class="text-lg">Commission d'indemnisation des victimes d'infractions</h4></div>
		<div class="border-aqua-700 flex max-w-sm items-center rounded-lg border p-4 shadow-sm"><h4 class="text-lg">Hospitalisations sans consentement</h4></div>
		<div class="border-aqua-700 flex max-w-sm items-center rounded-lg border p-4 shadow-sm"><h4 class="text-lg">Juge de l'application des peines</h4></div>
		<div class="border-aqua-700 flex max-w-sm items-center rounded-lg border p-4 shadow-sm"><h4 class="text-lg">Conseils et consultations juridiques en matière pénale</h4></div>
	</div>
	<div class="mx-auto mt-4 text-center">
		<p>J’interviens également en assistance éducative. Mon cabinet est situé 12 rue Pierre l’Hermite à AMIENS. J’interviens toutefois sur tout le territoire national.</p>
	</div>
</section>
