---
import { Image } from "astro:assets";
---

<footer class="bg-aqua-900 relative z-10 flex flex-col shadow-sm">
	<div class="max-w-screen-3xl mx-auto flex min-h-76 w-full flex-col">
		<div class="mt-12 mb-8 flex flex-col flex-wrap items-center gap-4 px-12 md:mt-24 md:flex-row md:items-start md:gap-12">
			<a href="/" class="flex h-6 w-fit items-center gap-1">
				<Image src="/logo.png" class="h-11 w-11" alt="logo" width="44" height="44" loading={"lazy"} />
				<p class="font-main text-2xl font-semibold text-white">Florine Talon <span class="text-aqua-200 font-second font-normal italic">Avocat</span></p>
			</a>
			<!-- reseaux sociaux -->

			<div>
				<div>
					<p class="text-center text-white md:text-left">12 rue Pierre l'Hermite<br />80000 Amiens<br /><a class="hover:text-aqua-200 underline" href="https://g.co/kgs/umwqTBj" target="_blank">Google Maps</a></p>
				</div>
			</div>

			<!-- MENU -->
			<div class="flex flex-col flex-wrap items-center md:items-start">
				<p class="leading-7">
					<a class="hover:text-aqua-200 flex w-fit gap-2 text-white underline transition-all duration-300" href="tel:0677454190">06.77.45.41.90</a>
				</p>
				<p class="leading-7">
					<a class="hover:text-aqua-200 flex w-fit gap-2 text-white underline transition-all duration-300" href="mailto:contact@florinetalonavocat.fr">contact@florinetalonavocat.fr</a>
				</p>
			</div>

			<div class="mt-1 tracking-wide text-white italic md:ml-auto">
				<a class="hover:text-aqua-200 hover:fill-aqua-200 mr-1 fill-white" href="https://www.instagram.com/florinetalonavocat" target="_blank" rel="noopener noreferrer"><svg class="mb-0.5 inline-block h-auto w-6" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" viewBox="0 0 256 256"><path d="M128 23.064c34.177 0 38.225.13 51.722.745 12.48.57 19.258 2.655 23.769 4.408 5.974 2.322 10.238 5.096 14.717 9.575 4.48 4.479 7.253 8.743 9.575 14.717 1.753 4.511 3.838 11.289 4.408 23.768.615 13.498.745 17.546.745 51.723 0 34.178-.13 38.226-.745 51.723-.57 12.48-2.655 19.257-4.408 23.768-2.322 5.974-5.096 10.239-9.575 14.718-4.479 4.479-8.743 7.253-14.717 9.574-4.511 1.753-11.289 3.839-23.769 4.408-13.495.616-17.543.746-51.722.746-34.18 0-38.228-.13-51.723-.746-12.48-.57-19.257-2.655-23.768-4.408-5.974-2.321-10.239-5.095-14.718-9.574-4.479-4.48-7.253-8.744-9.574-14.718-1.753-4.51-3.839-11.288-4.408-23.768-.616-13.497-.746-17.545-.746-51.723 0-34.177.13-38.225.746-51.722.57-12.48 2.655-19.258 4.408-23.769 2.321-5.974 5.095-10.238 9.574-14.717 4.48-4.48 8.744-7.253 14.718-9.575 4.51-1.753 11.288-3.838 23.768-4.408 13.497-.615 17.545-.745 51.723-.745M128 0C93.237 0 88.878.147 75.226.77c-13.625.622-22.93 2.786-31.071 5.95-8.418 3.271-15.556 7.648-22.672 14.764C14.367 28.6 9.991 35.738 6.72 44.155 3.555 52.297 1.392 61.602.77 75.226.147 88.878 0 93.237 0 128c0 34.763.147 39.122.77 52.774.622 13.625 2.785 22.93 5.95 31.071 3.27 8.417 7.647 15.556 14.763 22.672 7.116 7.116 14.254 11.492 22.672 14.763 8.142 3.165 17.446 5.328 31.07 5.95 13.653.623 18.012.77 52.775.77s39.122-.147 52.774-.77c13.624-.622 22.929-2.785 31.07-5.95 8.418-3.27 15.556-7.647 22.672-14.763 7.116-7.116 11.493-14.254 14.764-22.672 3.164-8.142 5.328-17.446 5.95-31.07.623-13.653.77-18.012.77-52.775s-.147-39.122-.77-52.774c-.622-13.624-2.786-22.929-5.95-31.07-3.271-8.418-7.648-15.556-14.764-22.672C227.4 14.368 220.262 9.99 211.845 6.72c-8.142-3.164-17.447-5.328-31.071-5.95C167.122.147 162.763 0 128 0Zm0 62.27C91.698 62.27 62.27 91.7 62.27 128c0 36.302 29.428 65.73 65.73 65.73 36.301 0 65.73-29.428 65.73-65.73 0-36.301-29.429-65.73-65.73-65.73Zm0 108.397c-23.564 0-42.667-19.103-42.667-42.667S104.436 85.333 128 85.333s42.667 19.103 42.667 42.667-19.103 42.667-42.667 42.667Zm83.686-110.994c0 8.484-6.876 15.36-15.36 15.36-8.483 0-15.36-6.876-15.36-15.36 0-8.483 6.877-15.36 15.36-15.36 8.484 0 15.36 6.877 15.36 15.36Z"></path></svg> INSTAGRAM</a> //
				<a class="hover:text-aqua-200 hover:fill-aqua-200 ml-1 fill-white" href="https://www.facebook.com/florinetalonavocat" target="_blank" rel="noopener noreferrer"><svg class="mb-0.5 inline-block h-auto w-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 666.667 666.667"><defs><clipPath id="facebook_icon-a" clipPathUnits="userSpaceOnUse"><path d="M0 700h700V0H0Z"></path></clipPath></defs><g clip-path="url(#facebook_icon-a)" transform="matrix(1.33333 0 0 -1.33333 -133.333 800)"><path d="M0 0c0 138.071-111.929 250-250 250S-500 138.071-500 0c0-117.245 80.715-215.622 189.606-242.638v166.242h-51.552V0h51.552v32.919c0 85.092 38.508 124.532 122.048 124.532 15.838 0 43.167-3.105 54.347-6.211V81.986c-5.901.621-16.149.932-28.882.932-40.993 0-56.832-15.528-56.832-55.9V0h81.659l-14.028-76.396h-67.631v-171.773C-95.927-233.218 0-127.818 0 0" style="fill-opacity:1;fill-rule:nonzero;stroke:none" transform="translate(600 350)"></path><path class="fill-aqua-900" d="m0 0 14.029 76.396H-67.63v27.019c0 40.372 15.838 55.899 56.831 55.899 12.733 0 22.981-.31 28.882-.931v69.253c-11.18 3.106-38.509 6.212-54.347 6.212-83.539 0-122.048-39.441-122.048-124.533V76.396h-51.552V0h51.552v-166.242a250.559 250.559 0 0 1 60.394-7.362c10.254 0 20.358.632 30.288 1.831V0Z" style="fill:#;fill-opacity:1;fill-rule:nonzero;stroke:none" transform="translate(447.918 273.604)"></path></g></svg> FACEBOOK</a>
			</div>
		</div>
		<div class="mt-auto mb-6 flex flex-col-reverse flex-wrap gap-2 px-12 md:flex-row">
			<p class="text-xs text-gray-300 italic">&copy; 2025 Florine Talon Avocat. Tous droits réservés.</p>
			<div class="flex gap-4 md:ml-auto">
				<a href="/a-propos" class="hover:text-aqua-200 text-xs text-gray-300 italic">A PROPOS</a>
				<a href="/mentions" class="hover:text-aqua-200 text-xs text-gray-300 italic">MENTIONS LÉGALES</a>
			</div>
		</div>
	</div>
</footer>
