---
import { Image } from "astro:assets";
---

<footer class="bg-aqua-900 relative z-10 flex flex-col shadow-sm">
	<div class="max-w-screen-3xl mx-auto flex min-h-76 w-full flex-col">
		<div class="mt-12 mb-8 flex flex-col flex-wrap items-center gap-4 px-12 md:mt-24 md:flex-row md:items-start md:gap-12">
			<a href="/" class="flex h-6 w-fit items-center gap-1">
				<Image src="/logo.png" class="h-11 w-11" alt="logo" width="44" height="44" loading={"lazy"} />
				<p class="font-main text-2xl font-semibold text-white">Florine Talon <span class="text-aqua-200 font-second font-normal italic">Avocat</span></p>
			</a>
			<!-- reseaux sociaux -->

			<div>
				<div>
					<p class="text-center text-white md:text-left">12 rue Pierre l'Hermite<br />80000 Amiens<br /><a class="hover:text-aqua-200 underline" href="https://g.co/kgs/umwqTBj" target="_blank">Google Maps</a></p>
				</div>
			</div>

			<!-- MENU -->
			<div class="flex flex-col flex-wrap items-center md:items-start">
				<p class="leading-7">
					<a class="hover:text-aqua-200 flex w-fit gap-2 text-white underline transition-all duration-300" href="tel:0677454190">06.77.45.41.90</a>
				</p>
				<p class="leading-7">
					<a class="hover:text-aqua-200 flex w-fit gap-2 text-white underline transition-all duration-300" href="mailto:contact@florinetalonavocat.fr">contact@florinetalonavocat.fr</a>
				</p>
			</div>

			<div class="mt-1 tracking-wide text-white italic md:ml-auto">
				<a class="hover:text-aqua-200 mr-1" href="https://www.instagram.com/florinetalonavocat" target="_blank" rel="noopener noreferrer">INSTAGRAM</a> //
				<a class="hover:text-aqua-200 ml-1" href="https://www.facebook.com/florinetalonavocat" target="_blank" rel="noopener noreferrer">FACEBOOK</a>
			</div>
		</div>
		<div class="mt-auto mb-12 flex flex-col-reverse flex-wrap gap-2 px-12 md:flex-row">
			<p class="text-xs text-gray-300 italic">&copy; 2025 Florine Talon Avocat. Tous droits réservés.</p>
			<div class="flex gap-4 md:ml-auto">
				<a href="/a-propos" class="hover:text-aqua-200 text-xs text-gray-300 italic">A PROPOS</a>
				<a href="/mentions" class="hover:text-aqua-200 text-xs text-gray-300 italic">MENTIONS LÉGALES</a>
			</div>
		</div>
	</div>
</footer>
