---
const { faqName } = Astro.props;
---

<section class="m-auto max-w-4xl">
	<h2 class="font-second mt-4 mb-4 w-fit px-4 text-4xl font-light tracking-tight italic md:mt-0 md:mb-12 md:text-6xl" style="background: linear-gradient(to bottom, transparent 50%, #aafee2 50%);">MES HONORAIRES</h2>
	<div>
		<!-- 1 -->
		<div class="border-aqua-700 border-b">
			<div class="group faq-question flex items-center px-4">
				<h3 class="relative my-5 w-fit cursor-pointer overflow-hidden transition-colors duration-100 select-none">
					<span class="loading-menu inline-block leading-none font-bold md:text-xl">Le Règlement Intérieur National de la Profession d'Avocat :</span>
					<span class="bg-aqua-700 absolute bottom-0 left-0 h-[1px] w-0 group-hover:w-full" style="transition: width .8s cubic-bezier(.22,1,.36,1)"></span>
				</h3>
				<svg xmlns="http://www.w3.org/2000/svg" class="plus ml-auto" width="18" height="18" viewBox="0 0 160 160">
					<rect class="vertical-line" x="70" width="20" height="160"></rect>
					<rect class="horizontal-line" y="70" width="160" height="20"></rect>
				</svg>
			</div>
			<div class="faq-answers">
				<p class="pt-4 pb-8 pl-4">«&nbsp;Les honoraires sont fixés selon les usages, en fonction de la situation de fortune du client, de la difficulté de l’affaire, des frais exposés par l’avocat, de sa notoriété et des diligences de celui-ci. L’avocat chargé d’un dossier peut demander des honoraires à son client même si ce dossier lui est retiré avant sa conclusion, dans la mesure du travail accompli&nbsp;»</p>
			</div>
		</div>
		<!-- 2 -->
		<div class="border-aqua-700 border-b">
			<div class="group faq-question flex items-center px-4">
				<h3 class="relative my-5 w-fit cursor-pointer overflow-hidden transition-colors duration-100 select-none">
					<span class="loading-menu inline-block leading-none font-bold md:text-xl">Comment l'avocat définit ses honoraires&nbsp;?</span>
					<span class="bg-aqua-700 absolute bottom-0 left-0 h-[1px] w-0 group-hover:w-full" style="transition: width .8s cubic-bezier(.22,1,.36,1)"></span>
				</h3>
				<svg xmlns="http://www.w3.org/2000/svg" class="plus ml-auto" width="18" height="18" viewBox="0 0 160 160">
					<rect class="vertical-line" x="70" width="20" height="160"></rect>
					<rect class="horizontal-line" y="70" width="160" height="20"></rect>
				</svg>
			</div>
			<div class="faq-answers">
				<p class="pt-4 pl-4">Fixation des honoraires par l’avocat libre, selon&nbsp;:</p>
				<ul class="ml-4 list-disc pb-8 pl-4">
					<li>Le temps consacré au traitement du dossier</li>
					<li>Sa nature et sa difficulté́</li>
					<li>Les recherches à effectuer</li>
					<li>L’importance des intérêts en cause</li>
					<li>L’incidence des frais et charges du cabinet</li>
					<li>L’expérience et la spécialisation de l’avocat</li>
					<li>Les avantages et le résultat obtenus</li>
					<li>La situation de fortune du client</li>
				</ul>
			</div>
		</div>
		<!-- 3 -->
		<div class="border-aqua-700 border-b">
			<div class="group faq-question flex items-center px-4">
				<h3 class="relative my-5 w-fit cursor-pointer overflow-hidden transition-colors duration-100 select-none">
					<span class="loading-menu inline-block leading-none font-bold md:text-xl">A combien s'élèveront mes honoraires&nbsp;?</span>
					<span class="bg-aqua-700 absolute bottom-0 left-0 h-[1px] w-0 group-hover:w-full" style="transition: width .8s cubic-bezier(.22,1,.36,1)"></span>
				</h3>
				<svg xmlns="http://www.w3.org/2000/svg" class="plus ml-auto" width="18" height="18" viewBox="0 0 160 160">
					<rect class="vertical-line" x="70" width="20" height="160"></rect>
					<rect class="horizontal-line" y="70" width="160" height="20"></rect>
				</svg>
			</div>
			<div class="faq-answers">
				<p class="pt-4 pl-4">
					Attachée à la transparence et la prévisibilité de mes honoraires, cette question sera abordée dès le premier rendez-vous afin que le client soit parfaitement informé des conditions d’intervention.<br />
					Une proposition d’honoraires sera formulée par le biais d’une convention d’honoraires que le client devra valider avant toute diligence. En cas d’urgence, les conditions seront précisées avant intervention.<br /><br />
					En fonction de la nature du dossier, la rémunération sera proposée :
				</p>
				<ul class="ml-4 list-disc pb-8 pl-4">
					<li>Dans le cadre d’un honoraire forfaitaire couvrant l’ensemble des diligences du dossier</li>
					<li>Au moyen d’honoraires fixés en fonction d’un taux horaire couvrant toutes les diligences accomplies par l’avocat (entretiens, courriers, étude du dossier, rédaction, audience…</li>
					<li>Soit dans le cadre d’une convention qui prévoit, outre un honoraire forfaitaire de base, une part de rémunération, en fonction du résultat</li>
				</ul>
			</div>
		</div>
		<!-- 4 -->
		<div class="border-aqua-700 border-b">
			<div class="group faq-question flex items-center px-4">
				<h3 class="relative my-5 w-fit cursor-pointer overflow-hidden transition-colors duration-100 select-none">
					<span class="loading-menu inline-block leading-none font-bold md:text-xl">A Savoir</span>
					<span class="bg-aqua-700 absolute bottom-0 left-0 h-[1px] w-0 group-hover:w-full" style="transition: width .8s cubic-bezier(.22,1,.36,1)"></span>
				</h3>
				<svg xmlns="http://www.w3.org/2000/svg" class="plus ml-auto" width="18" height="18" viewBox="0 0 160 160">
					<rect class="vertical-line" x="70" width="20" height="160"></rect>
					<rect class="horizontal-line" y="70" width="160" height="20"></rect>
				</svg>
			</div>
			<div class="faq-answers">
				<!-- <p class="pt-4 pb-8 pl-4">For a visible lift in 60 seconds flat,* look to Clarins' Total Eye Lift—a naturally powerful, all-in-one, anti-aging eye cream that visibly minimizes wrinkles, crow's feet, dark circles, and puffiness. Formulated with ingredients of 94% natural origin—including Clarins' exclusive Lift-Smoothing Duo of Organic Harungana extract—as effective as retinol and gentle on the skin,** and Cassie Flower Wax—this innovative formula provides an immediate visible lifting and wrinkle-smoothing effect that preps skin for flawless eye makeup application. Follow with Wonder Perfect 4D Mascara—formulated with carbon-black mineral pigments and Rose Wax—to take your lashes to bold new dimensions: visibly lengthened, curled, defined, and volumized with a sweep of the wand.</p> -->
				<ul class="ml-4 list-disc pb-8 pl-4">
					<li>Le taux de TVA applicable aux prestations juridiques est de 20%.</li>
					<li>En fonction de la situation du client, une proposition de règlement des honoraires en plusieurs fois sera envisageable.</li>
					<li>Dans certains domaines, l’intervention au bénéfice de l’aide juridictionnelle pourra être envisagée (link)</li>
					<li>Un droit de plaidoirie de 13€ est applicable, y compris pour les justiciables bénéficiant de l’aide juridictionnelle totale</li>
					<li>Certaines assurances de protection juridique prennent en charge tout ou partie des honoraires. Le choix de l’avocat dans ce cas demeure libre.</li>
					<li>Les consultations téléphoniques et en visioconférence sont payables par avance.</li>
					<li>Les honoraires peuvent faire l’objet d’une majoration en cas de saisine en urgence.</li>
					<li>En cas de condamnation de la partie adverse, sa condamnation au remboursement des honoraires réglés sera sollicitée</li>
				</ul>
			</div>
		</div>
		<!-- 5 -->
		<!-- <div class="border-aqua-700 border-b">
			<div class="group faq-question flex items-center px-4">
				<h3 class="relative my-5 w-fit cursor-pointer overflow-hidden transition-colors duration-100 select-none">
					<span class="loading-menu inline-block leading-none font-bold md:text-xl">How can I visibly lift my eye contour area?</span>
					<span class="bg-aqua-700 absolute bottom-0 left-0 h-[1px] w-0 group-hover:w-full" style="transition: width .8s cubic-bezier(.22,1,.36,1)"></span>
				</h3>
				<svg xmlns="http://www.w3.org/2000/svg" class="plus ml-auto" width="18" height="18" viewBox="0 0 160 160">
					<rect class="vertical-line" x="70" width="20" height="160"></rect>
					<rect class="horizontal-line" y="70" width="160" height="20"></rect>
				</svg>
			</div>
			<div class="faq-answers">
				<p class="pt-4 pb-8 pl-4">For a visible lift in 60 seconds flat,* look to Clarins' Total Eye Lift—a naturally powerful, all-in-one, anti-aging eye cream that visibly minimizes wrinkles, crow's feet, dark circles, and puffiness. Formulated with ingredients of 94% natural origin—including Clarins' exclusive Lift-Smoothing Duo of Organic Harungana extract—as effective as retinol and gentle on the skin,** and Cassie Flower Wax—this innovative formula provides an immediate visible lifting and wrinkle-smoothing effect that preps skin for flawless eye makeup application. Follow with Wonder Perfect 4D Mascara—formulated with carbon-black mineral pigments and Rose Wax—to take your lashes to bold new dimensions: visibly lengthened, curled, defined, and volumized with a sweep of the wand.</p>
			</div>
		</div> -->
		<!-- END -->
	</div>
	<div class="py-16">
		<a href="/contact" class="bg-aqua-500 hover:bg-aqua-700 mx-auto mt-4 rounded-lg px-5 py-3 text-lg transition-colors duration-200 hover:text-white">Prendre rendez-vous</a>
	</div>
</section>

<style>
	.faq-question .plus {
		fill: #669888;
	}
	.faq-question .plus .vertical-line {
		transform-origin: 50% 50%;
		transition: transform 0.3s ease-out;
	}
	.faq-question.clicked .plus .vertical-line {
		transform: rotate(270deg);
	}
	.faq-answers {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s ease-out;
	}
</style>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		let e = document.getElementsByClassName("faq-question"),
			t = document.getElementsByClassName("faq-answers");

		// Ouvre le premier élément par défaut
		if (e.length > 0) {
			e[0].classList.add("clicked");
			t[0].style.maxHeight = t[0].scrollHeight + "px";
		}

		for (let s = 0; s < e.length; s++) {
			e[s].addEventListener("click", function () {
				var l = this.nextElementSibling;
				l.style.maxHeight ? ((l.style.maxHeight = null), e[s].classList.remove("clicked")) : (e[s].classList.add("clicked"), (l.style.maxHeight = l.scrollHeight + "px"));

				for (let l = 0; l < e.length; l++) {
					if (l != s && e[l].className.includes("clicked")) {
						t[l].style.maxHeight = null;
						e[l].classList.remove("clicked");
					}
				}
			});
		}
	});
</script>
