<p>
	Le Règlement Intérieur National de la Profession d’Avocat prévoit que «&nbsp;les honoraires sont fixés selon les usages, en fonction de la situation de fortune du client, de la difficulté de l’affaire, des frais exposés par l’avocat, de sa notoriété et des diligences de celui-ci. L’avocat chargé d’un dossier peut demander des honoraires à son client même si ce dossier lui est retiré avant sa conclusion, dans la mesure du travail accompli&nbsp;». <br />
	Si la fixation des honoraires par l’avocat est libre, les éléments retenus celle-ci sont les suivants&nbsp;:
</p>
<ul>
	<li>le temps consacré à l’affaire</li>
	<li>le travail de recherche</li>
	<li>la nature et la difficulté de l’affaire</li>
	<li>l’importance des intérêts en cause,</li>
	<li>l’incidence des frais et charges du cabinet auquel il appartient</li>
	<li>sa notoriété, ses titres, son ancienneté, son expérience et la spécialisation dont il est titulaire</li>
	<li>les avantages et le résultat obtenus au profit du client par son travail, ainsi que le service rendu à celui-ci</li>
	<li>la situation de fortune du client</li>
</ul>

<p>
	Ainsi, conformément à mes obligations déontologiques et attachée à la transparence et la prévisibilité de mes honoraires, cette question sera abordée dès le premier rendez-vous afin que le client soit parfaitement informé des conditions de mon intervention.<br />
	Sauf cas d’urgence, une proposition forfaitaire, en fonction de la nature du dossier, sera alors formulée par le biais d’une convention d’honoraires que le client me retournera signée si les conditions lui conviennent, avant toute intervention de ma part.<br />
	En fonction de la nature du dossier, la rémunération sera proposée&nbsp;:
</p>
<ul>
	<li>soit dans le cadre d’un honoraire forfaitaire couvrant l’ensemble des diligences du dossier</li>
	<li>soit au moyen d’honoraires fixés en fonction d’un taux horaire qui couvre toutes les diligences accomplies par l’avocat (rendez-vous, entretiens téléphoniques, courriers, étude du dossier, rédaction d’actes, audiences, etc…)</li>
	<li>soit dans le cadre d’une convention d’honoraires qui prévoit, outre un honoraire forfaitaire de base, une part de rémunération en fonction du résultat qui est variable</li>
</ul>

<!-- TODO  mentions -->
<p>
	*Le taux de TVA applicable aux prestations juridiques est de 20%.<br />
	En fonction de la situation du client, une proposition de règlement des honoraires en plusieurs fois sera envisageable.<br />
	En certains domaines, l’intervention au bénéfice de l’aide juridictionnelle pourra être envisagée.<br />
	Certaines assurances de protection juridique prennent en charge tout ou partie des honoraires.<br />
	Les consultations téléphoniques et en visioconférence sont payables par avance.<br />
	Les honoraires peuvent faire l’objet d’une majoration en cas de saisine en urgence.
</p>
