<section class="sticky top-0 flex h-screen bg-slate-900 bg-cover bg-center" style="background-image: url('/src/assets/palais-4.jpg');">
	<!-- <div class="mt-auto mb-14 ml-10"> -->
	<div class="my-auto ml-10">
		<h1 class="font-main text-aqua-500 text-8xl">Florine Talon</h1>
		<h2 class="font-second text-aqua-500 text-5xl">Avocate Pénaliste</h2>
		<hr class="border-aqua-500 w-93" />
		<p class="my-8 max-w-screen-sm text-2xl text-white"><i>«&nbsp;Je jure, comme avocat, d'exercer mes fonctions avec dignité, conscience, indépendance, probité et humanité&nbsp;»</i></p>
		<a href="/contact" class="bg-aqua-500 hover:bg-aqua-700 mt-4 rounded-lg px-4 py-2 text-black transition-colors duration-100 hover:text-white">Prendre rendez-vous</a>
	</div>
</section>
