<section class="sticky top-0 flex h-screen bg-slate-900 bg-cover bg-center" style="background-image: url('/img/palais-4.jpg');" aria-label="Palais de justice d'Amiens">
	<div class="max-w-screen-3xl mx-auto my-auto w-full">
		<div class="mx-auto w-11/12 md:ml-10 md:w-fit">
			<div class="ml-4">
				<h1 class="font-main text-aqua-500 overflow-hidden text-8xl"><span class="loading-appear inline-block">Florine Talon</span></h1>
				<h2 class="font-second text-aqua-500 -mt-1.5 overflow-hidden text-6xl italic"><span class="loading-appear inline-block">Avocate en <br class="md:hidden" />droit pénal</span></h2>
				<hr class="border-aqua-500 w-60 md:w-123" />
				<p class="my-8 max-w-screen-md text-3xl text-white"><i>«&nbsp;Je jure, comme avocat, d'exercer mes fonctions avec dignité, conscience, indépendance, probité et humanité&nbsp;»</i></p>
				<a href="/#contact" class="bg-aqua-500 hover:bg-aqua-700 mt-4 rounded-lg px-5 py-3 text-lg transition-colors duration-200 hover:text-white">Prendre rendez-vous</a>
				<!-- <a class="bg-aqua-500 hover:bg-aqua-700 rounded-lg px-5 py-3 text-lg hover:text-white focus:ring-4 focus:ring-blue-300 focus:outline-none">Prendre rendez-vous</a> -->
			</div>
		</div>
	</div>
</section>
