<section class="flex h-screen flex-col items-center justify-center bg-slate-900 bg-cover bg-center" style="background-image: url('/src/assets/palais-3.jpg');">
	<h1 class="font-main text-aqua-500 text-center text-8xl">Florine Talon</h1>
	<h2 class="font-second text-aqua-500 text-center text-5xl">Avocate Pénaliste</h2>
	<hr class="border-aqua-500 w-80" />
	<p class="m-4 max-w-screen-sm text-center text-2xl text-white">«&nbsp;Je jure, comme avocat, d'exercer mes fonctions avec dignité, conscience, indépendance, probité et humanité&nbsp;»</p>
	<a href="/#contact" class="bg-aqua-500 hover:bg-aqua-700 mt-4 rounded-lg px-4 py-2 text-black transition-colors duration-100 hover:text-white">Prendre rendez-vous</a>
</section>
