<section>
	<h1 class="font-main text-aqua-500 text-8xl">Mon parcours</h1>
	<p>
		Passionnée de longue date par le droit pénal, il fut pour moi une évidence d’orienter mon parcours universitaire vers cette matière. <br />
		Ainsi, après un Master 1 Droit pénal et sciences criminelles au sein de l’Université de Reims-Champagne Ardennes, puis un Master 2 Etudes pénales et Criminelles obtenu à l’Université de Lille, j’ai passé l’examen d’entrée dans un Centre Régional de Formation à la Profession d’Avocat à Amiens en 2016 et intégré celui de Lille en vue de l’obtention du Certificat d’Aptitude à la Profession d’Avocat (CAPA) en 2018.<br />
		J’ai alors prêté serment devant la Cour d’Appel d’ANGERS en décembre 2018 et intégré le Barreau de la ville, au sein duquel j’ai exercé la profession d’avocat durant 3 années et demi, tant en mon nom personnel qu’en qualité de collaboratrice libérale au sein du Département Pénal d’un Cabinet d’avocats.<br />
		J’ai quitté le MAINE ET LOIRE pour intégrer le Barreau d’Amiens, ville dont je suis originaire, mi-août 2022.<br />
		Passionnée, réactive et à l’écoute, j’ai à cœur mettre mes connaissances et compétences au service de mes clients, afin de les conseiller et défense leurs intérêts au mieux et dans le respect du serment que j’ai prêté.
	</p>
</section>
