<div class="mt-1 mb-3 flex items-center space-x-1 rtl:space-x-reverse">
	<div class="h-4 w-4 bg-yellow-300" style="-webkit-mask: url('/src/assets/reviews/star.svg') no-repeat center;
mask: url('/src/assets/reviews/star.svg') no-repeat center;"></div>
	<div class="h-4 w-4 bg-yellow-300" style="-webkit-mask: url('/src/assets/reviews/star.svg') no-repeat center;
mask: url('/src/assets/reviews/star.svg') no-repeat center;"></div>
	<div class="h-4 w-4 bg-yellow-300" style="-webkit-mask: url('/src/assets/reviews/star.svg') no-repeat center;
mask: url('/src/assets/reviews/star.svg') no-repeat center;"></div>
	<div class="h-4 w-4 bg-yellow-300" style="-webkit-mask: url('/src/assets/reviews/star.svg') no-repeat center;
mask: url('/src/assets/reviews/star.svg') no-repeat center;"></div>
	<div class="h-4 w-4 bg-yellow-300" style="-webkit-mask: url('/src/assets/reviews/star.svg') no-repeat center;
mask: url('/src/assets/reviews/star.svg') no-repeat center;"></div>
</div>
