---
import {ClientRouter} from "astro:transitions";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Florine Talon</title>
		<ClientRouter />
	</head>
	<body class="text-gray-800">
		<Nav />
		<slot />
		<Footer />
	</body>
</html>
